@import url('/styles/header.css');
@import url('/styles/banner.css');
@import url('/styles/categorias.css');
@import url('/styles/trendingNews.css');
@import url('/styles/bannerNumerado.css');
@import url('/styles/recent-Club.css');
@import url('/styles/sports-article.css');
@import url('/styles/footer.css');
:root{
 --cinza-E1: #B8C2CE;
 --cinza-E2: #E1E8F0;
 --cinza-E3: #EBEEF3;
 --branco-basico: #F9FAFC;
 --preto-basico: #262626;
 --font-data: #757678;
 }

body{
    background-color: var(--branco-basico);
    font-family: "DM Sans", sans-serif;
    width: 100vw;
}
